body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  margin: 10px auto;
  gap: 5px;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 100px auto 10px;
}

.logo {
  height: 100px;
  width: 100px;
  border: 1px solid white;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

/* MAIN */

.main {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  gap: 5px;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}

/* INPUT  */

.input {
  width: 150px;
  height: 40px;
  font-size: 25px;
}

.select {
  width: 100px;
  height: 40px;
  font-size: 25px;
}

.btn {
  width: 100px;
  height: 40px;

  font-size: 20px;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
}

#loading.display {
  visibility: visible;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HIGH RESOLUTION  */
@media screen and (min-width: 640px) {
  .header {
    flex-direction: row;
  }
  .form {
    flex-direction: row;
  }
}
